body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('img/backgr13.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #70161e;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(3px);
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff3d3;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    margin: 0;
}

.navbar a {
    color: #000000;
    position: relative;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    padding: 6px 6px;
    text-decoration: none;
    border-radius: 5rem;
    transition: background 0.5s, box-shadow 0.5s;
    background-color: transparent;
}

.navbar a:hover {
    color: #ffffff;
    background-color: #5e1313;
}

body {
    margin: 0;
}

.cart-container {
    background: rgba(255, 240, 240, 0.3);
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.7s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(5);
    }
}

.cart-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cart-item span {
    font-size: 14px;
}

.remove-item {
    color: #70161e;
    cursor: pointer;
}

.remove-item:hover {
    color: #ff0000;
}

.checkout {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #70161e, #c13016);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout:hover {
    background: linear-gradient(90deg, #c02e14, #70161e);
}

.total {
    margin-top: 10px;
    font-size: 16px;
}